<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>Confirmation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
    <style>
        body {
            background-color: #d5d5d5;
            margin: 5em;
        }
    
        h1, p {
            color: #6d7993;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-4">Appointment has been added</h1>
            <!-- <p class="lead">Nice job <%= user %></p> -->
            <hr class="my-4">
            <h3>Nice job
                <%= user %>
            </h3>
            <h3>Keep up the good work!</h3>
            <br>
            <a class="btn btn-success btn-lg" href="/survey" role="button">New Form</a>
        </div>
    </div>




    <!-- <h1>Appointment Added</h1> <br>
    <form action="/survey" method="get">
        <button type="submit">New Form</button>
    </form> -->
    
</body>

</html>