<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>Page Title</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->

</head>

<body>
    <button id="add">Add</button>
    <button id="get">Get</button>


    <script>
        const add = document.querySelector('#add');
        const get = document.querySelector('#get');
        const testObject = { 'one': 1, 'two': 2, 'three': 3 };
        let i = 1;




        add.addEventListener('click', () => {


            // Put the object into storage
            localStorage.setItem(`${i}`, JSON.stringify(testObject));
            
            i++;
            console.log('three', JSON.stringify(testObject))


        });

        get.addEventListener('click', () => {
            // Retrieve the object from storage
            var retrievedObject = localStorage.getItem(`${num}`);

            console.log('retrievedObject: ', JSON.parse(retrievedObject));
        });



    </script>
</body>

</html>