<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>Page Title</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->

</head>

<body>
    <button id="add">Add</button>
    <br>
    <br>
    <br>
    <button id="get">Get</button>
    <br>
    <br>
    <br>
    <button id="clear">Clear</button>

    <h1></h1>


    <script>
        const add = document.querySelector('#add');
        const get = document.querySelector('#get');
        const clr = document.querySelector('#clear');
        const testObject = { 'one': 1, 'two': 2, 'three': 3 };
        const display = document.querySelector('h1')
        let i = 1;




        add.addEventListener('click', () => {


            // Put the object into storage
            localStorage.setItem(`${i}`, JSON.stringify(testObject));


            console.log(`${i}`, JSON.stringify(testObject))


        });

        get.addEventListener('click', () => {
            // Retrieve the object from storage
            display.innerHTML = localStorage.getItem('1');


            // console.log('retrievedObject: ', JSON.parse(retrievedObject));
        });

        clr.addEventListener('click', () => {
                localStorage.clear();
                alert('Storage cleared!')
            });



    </script>
</body>

</html>